
html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.header{
	border:soft 2px orange;
  height:163px;
  width:100%;
  background-image:url(../images/bg.png);
  display:flex;
}
.logo{
	border:soft 2px red;
	height:163px;
	width:13%;
	float:left;
}
.navbar-menu{
	border:soft 2px yellow;
	height:163px;
	width:87%;
}
.navbar-menu li{
	font-size: 15px;
	padding-top:60px;
	list-style: none;
	text-align:center;
	float:left;
}
.navbar-menu a {
	font-size: 17px;
	text-decoration: none;
	color: black;
	background-color:#D9D9D9;
	font-weight: 500;
	padding-left: 20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:70px;
	margin-left:70px;
}
.achieve{
	border:soft 2px red;
	height:800px;
	width:100%;
}
.achieve img{
	float: right;
	padding-right:30px;
	padding-top:30px;
}
.achieve p{
	padding-left:10px;
	padding-top:7px;
	font-size:17px;
	font-weight:200;
	letter-spacing:3px;
	color:black;
	font-style: normal;
	word-spacing: 3px;
	line-height: 1.7;
}
.achieve p.text{
	font-size:17px;
	font-weight:300;
	letter-spacing:3px;
	color:black;
	font-style: normal;
	word-spacing: 3px;
	line-height: 2.4;
	}
@media (max-width:1250px){

.navbar-menu a {
	margin-right:5px;
	margin-left:30px;
}
